form {
    text-align: center;
    margin-top: 10%;
}

select {
    width: 150px;
    height: 40px;
}
select:focus {
    min-width: 150px;
    width: auto;
}

input {
    width: 150px;
    height: 30px;
}

#btn {
    position: absolute;
    margin-left: 41.4%;
    width: 150px;
    height: 30px;
}

#transaction__img {
    width: 100%;
    height: auto;
    z-index: 1;
}

.prof_pic {
    position: relative;
}

.img1 {
    position: absolute;
    bottom: 85%;
    left: 50%;
    max-width: 20%;
    transform: translate(-50%, 0%);
    z-index: 0;
}

#t_name {
    position: absolute;
    bottom: 81%;
    left: 50%;
    transform: translate(-50%, 0%);
    font-size: 350%;
    font-weight: 600;
    font-family: 'Poppins';
    width: max-content;
    color: #2f3032;
}

#t_amt {
    color:crimson;
    position: absolute;
    bottom: 74.5%;
    left: 49%;
    transform: translate(-50%, 0%);
    font-size: 375%;
    font-family: 'Poppins';
    font-weight: bold;
}

#t_desc {
    position: absolute;
    bottom: 78.7%;
    left: 50%;
    transform: translate(-50%, 0%);
    font-size: 275%;
    width: max-content;
    color: #2f3032;
    font-family: 'Roboto';
    font-weight: 500;
}

#date {
    position: absolute;
    bottom: 33.7%;
    left: 4.5%;
    font-size: 250%;
    width: max-content;
    color: #2f3032;
    font-family: 'Roboto';
    font-weight: bold;
}

#paid_to {
    position: absolute;
    bottom: 25%;
    left: 8.5%;
    font-size: 250%;
    color: #2f3032;
    font-family: 'Roboto';
    font-weight: bold;
}

#back_btn {
    position: absolute;
    bottom: 95.5%;
    left: 3%;
    width: 5%;
    height: 3%;
    opacity: 0;
}

#history_pic {
    width: 100%;
    height: 100%;
}

div.scroll {
    /* background-color: #fed9ff; */
    width: 100%;
    height: 2010px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: center;
}
