form {
    text-align: center;
    margin-top: 10%;
}

select {
    width: 150px;
    height: 40px;
}
select:focus {
    min-width: 150px;
    width: auto;
}

input {
    width: 150px;
    height: 30px;
}

#btn {
    position: absolute;
    margin-left: 41.4%;
    width: 150px;
    height: 30px;
}

#transaction__img {
    width: 100%;
    height: auto;
    z-index: 1;
}

.prof_pic {
    position: relative;
}

.img1 {
    position: absolute;
    bottom: 80%;
    left: 40%;
    /* transform: translate(-50%, 0%); */
    z-index: 10;
}

#name {
    position: relative;
    bottom: 98%;
    left: 50%;
    transform: translate(-50%, 0%);
    font-size: 400%;
}

#amt {
    color:crimson;
    position: relative;
    bottom: 92%;
    left: 0%;
    font-size: 500%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: bold;
}

#desc {
    position: relative;
    bottom: 93%;
    left: 0%;
    font-size: 300%;
}

div.scroll {
    /* background-color: #fed9ff; */
    width: 100%;
    height: 2010px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: center;
}
